// reset
body,
div,
span,
header,
footer,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
em,
textarea,
button,
input,
select {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  // user-select: none;
  font-family: "Microsoft Yahei", sans-serif;
  &:focus {
    outline: none;
  }
}
html,
body {
  height: 100%;
  width: 100%;
  // min-width: 1200px;
}

.ivu-table-sort {
  transform: scale(1.5);
}

// .layout-content.ivu-layout {
//   width: 100%;
//   overflow-x: auto !important;
//   .layout-content-box.ivu-layout-content {
//     min-width: 1200px !important;
//   }
// }

// 修改时间选择颜色
.ivu-picker-confirm-time {
  color: #57a3f3;
}
